.btn-menu {
    background-color: rgba(102, 22, 102, 0.842);
    border: none;
    color: white;
    min-width: 175px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.btn-main {
    border: none;
    color: white;
    min-width: 125px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-purple {
    background-color: rgba(102, 22, 102, 0.842);
}

.btn-grey {
    background-color: rgb(117, 116, 116);
    border: none;
    color: white;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.center {
    text-align: center;
}

.horseImg {
    max-width: 50%;
    height: auto;
}

.logoMax {
    max-width: 50%;
}

.logoMin {
    max-height: 75px;
}

.link {
    color:  rgba(102, 22, 102, 0.842);
}

h1 {
    color:  rgba(102, 22, 102, 0.842);
}

.warning {
    color: red
}

.top{
    background: rgb(221, 221, 221)
}

.even:nth-child(even){
    background: rgba(221, 221, 221, 0.555)
}

.odd:nth-child(odd){
    background: rgba(221, 221, 221, 0.555)
}

@media only screen and (max-width: 900px) {
    .cell{
        display: none;
    }
}