.navbar-blue {
   background-color: rgba(21, 139, 186, 0.808) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8fafc !important;
}

.btn-menu {
    background-color:  rgb(21, 139, 186);
    border: none;
    color: white;
    min-width: 175px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.btn-main {
    border: none;
    color: white;
    min-width: 125px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-blue {
    background-color:  rgba(21, 139, 186, 0.808);
}

.btn-grey {
    background-color: rgb(117, 116, 116);
    border: none;
    color: white;
    margin-top:5px;
    margin-bottom:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn-lesson {
    border-color: rgb(21, 139, 186);;
    color: rgb(21, 139, 186);;
    min-width: 125px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.btn-lesson:not(:disabled):not(.disabled):active, .btn-lesson:not(:disabled):not(.disabled).active, .show > .btn-lesson.dropdown-toggle {
    background-color: rgb(21, 139, 186);
    border-color: rgb(21, 139, 186);
    color: #fff;
}
   
.btn-lesson:hover {
    background-color: rgb(21, 139, 186);
    border-color: rgb(21, 139, 186);
    color: #fff;
}

.center {
    text-align: center;
}

.horseImg {
    max-width: 50%;
    height: auto;
}

.farmImg {
    max-height: 250px;
}

.logoMax {
    max-width: 50%;
}

.logoMin {
    max-height: 50px;
}

.link {
    color:  rgba(21, 139, 186);
}

h1 {
    color:  rgba(21, 139, 186);
}

.warning {
    color: red
}

.top{
    background: rgb(221, 221, 221)
}

.even:nth-child(even){
    background: rgba(221, 221, 221, 0.555)
}

.odd:nth-child(odd){
    background: rgba(221, 221, 221, 0.555)
}

.shade{
    background: rgba(221, 221, 221, 0.555)
}

.not{
    background: white
}

.carousel {
    width:40%;
}

@media only screen and (max-width: 900px) {
    .cell{
        display: none;
    }
    .carousel {
        width:75%;
      }
}